In [1]:
import pandas as pd
import os 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
#creating variables for each df in path
path = r'C:\Users\USER\Desktop\Analysis\python_hackerU\formula\data'
csv_list = [i for i in os.listdir(path)]

for i in csv_list:
    globals()[os.path.splitext(i)[0]] = pd.read_csv(os.path.join(path,i),na_values = r'\N')

#droping unnecessery columns from races
races = races.drop(races.columns[7:],axis = 1)

# Basic information:

In [4]:
#כמה מרוצים יש בכל שנה
count_race_year = races.groupby(['year'])['raceId'].count().reset_index()
count_race_year_2000 = count_race_year[count_race_year['year'].between(2009,2022)]
count_race_year_2000

    year  raceId
59  2009      17
60  2010      19
61  2011      19
62  2012      20
63  2013      19
64  2014      19
65  2015      19
66  2016      21
67  2017      20
68  2018      21
69  2019      21
70  2020      17
71  2021      22
72  2022      22